@charset="UTF-8";

footer { 
    display: block;
}

/*Estilo pantallas grandes*/
@media only screen and (min-width: 720px) {
	.phaserDiv {	
	    margin: auto;
	    width: 720px;
	} 
}
/*Estilo de las pantallas de dispositivos moviles*/
@media only screen and (max-width: 720px) {
	.content, .footer {
		font-size: 13px;
	}
	.content {
		width: auto;
	}
}
	